<form
  class="card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Войти в систему</span>
    <div class="input-field">
      <input
        formControlName="email"
        id="email"
        type="email"
        [ngClass]="{'invalid': form.get('email')?.invalid && form.get('email')?.touched}"
      >
      <label for="email">Email:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
      >
        <span *ngIf="form.get('email')?.errors?.required">Email is required field</span>
        <span *ngIf="form.get('email')?.errors?.email">Email is invalid</span>
      </span>
    </div>
    <div class="input-field">
      <input
        formControlName="password"
        id="password"
        type="password"
        [ngClass]="{'invalid': form.get('password')?.invalid && form.get('password')?.touched}"
      >
      <label for="password">Пароль:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
      >
        <span *ngIf="form.get('password')?.errors?.required">Email is required field</span>
        <span *ngIf="form.get('password')?.errors?.minlength && form.get('password')?.errors?.minlength['requiredLength']">
          Password must be longer then {{form.get('password')?.errors?.minlength['requiredLength']}} symbols.
          Now {{form.get('password')?.errors?.minlength['actualLength']}}
        </span>
      </span>
    </div>
  </div>
  <div class="card-action">
    <button
      type="submit"
      class="modal-action btn waves-effect"
      [disabled]="form.invalid"
    >
      Войти
    </button>
  </div>
</form>
